# Required
BOT_TOKEN=your_bot_token_here

# Optional - Force Subscribe
CHANNEL_USERNAME=@YourChannel
FORCE_SUB=false

# Optional
DEVELOPER_ID=your_telegram_id
WELCOME_IMAGE=https://files.tgvibes.online/WZPorLVw.png
MAX_FILE_MB=512
